[core]
	excludesfile = ~/.gitignore_global

[include]
	path = ~/.gitconfig.local

[pull]
	rebase = false

[alias]
	c = checkout
	b = branch
	s = switch
	r = restore

[user]
	useConfigOnly = true

[ghq]
	root = ~/repos
